<!DOCTYPE html>
<html lang="en">

<head>
	<title>Yo Brew!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<main>
	<nav class="brown darken-2">
		<div class="nav-wrapper" ng-controller="navCtrl">
			<a href="./" class="brand-logo">Yo Brew</a>
			<ul class="right hide-on-med-and-down">
				<li><a href="./map">Map</a></li>
				<li><a href="./beers">Beer</a></li>
				{{#if client}}<li><a href="#" data-activates="slide-out" class="profileShow">Profile</a></li>
				{{else}}<li><a href="#loginModal">Log In</a></li>{{/if}}
			</ul>

			<a class='dropdown-button hide-on-large-only' id="menuButton" href='#' data-activates='menuDropdown'><i class="material-icons">menu</i></a>
			<ul id='menuDropdown' class='dropdown-content'>
				<li><a href="./map" class="dropText">Map</a></li>
				<li><a href="./beers" class="dropText">Beer</a></li>
				<li><a href="./brewery" class="dropText">Brewery</a></li>
				{{#if client}}<li><a href="#" data-activates="slide-out" class="profileShow dropText">Profile</a></li>
				{{else}}<li><a href="#loginModal" class="dropText">Log In</a></li>{{/if}}
			</ul>

		</div>
	</nav>
	<div id="loginModal" class="modal">
		<div class="modal-content">
			<form class="login-form formValidate" action="/login" method="POST">
				<div class="row margin">
					<div class="input-field col s12">
						<i class="mdi-social-person-outline prefix"></i>
						<input name=email id="email" type="text">
						<label for="email" class="center-align">Email Address</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="mdi-action-lock-outline prefix"></i>
						<input name=password id="password" type="password">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m12 l12  login-text">
						<input type="checkbox" id="remember-me" />
						<label for="remember-me">Remember me</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button type="submit" class="btn waves-effect waves-light col s12 brown darken-2">Sign In</button>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6 m6 l6">
						<p class="margin medium-small"><a href="./signup">Register Now!</a></p>
					</div>
					<div class="input-field col s6 m6 l6">
						<p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
					</div>
				</div>

			</form>
		</div>
	</div>
	<ul id="slide-out" class="side-nav">
			<div class="userView">
				<h3> Hi, {{client.userName}}</h3>
				<form action="/logout" method="GET">
				<button name="logout" type="submit">Log Out</button>
			</form>
			</div>
	</ul>
	{{#if message}}
	<div id="error-modal" class="modal">
		<div class="modal-content">
			<h3>Alert</h3>
			<p id="error-message">{{message}}</p>
		</div>
	</div>
	{{/if}}
 {{{ body }}}
 </main>
 <footer class="page-footer footer brown darken-2">
	 <div class="footer-copyright">
		 <div class="container">
		 © 2017 Copyright
		 </div>
	 </div>
 </footer>
</body>
<!-- // jQuery -->
<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
<!-- // Google Material js -->
<script type="text/javascript" src="assets/js/materialize.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
		$('.modal').modal();
		$(".profileShow").sideNav();
		$('#error-modal').modal('open');
		$('.button-collapse').sideNav();
	});
</script>

</html>
